<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCU Chronological Order</title>
</head>
<body>
  <h1>MCU Chronological Order</h1>
  <p>Source: <a href="https://www.imdb.com/list/ls029032797/" target="_blank">https://www.imdb.com/list/ls029032797/</a></p>
  <ul>
    {% for item in order %}
      <li>
        <p>{{ item.title }}</p>
        <em>{{ item.desc }}</em>
      </li>
    {% endfor %}
  </ul>
</body>
</html>